<h1>index placeholder</h1>


<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"> <%= link_to post.title, post_path(post) %></h2>
  </div>
  <p class="data"><%= post.created_at.strftime("%B, %d, %y") %></p>
 
<% end %>